/* --- Text --- */

.h1, h1 {
    font-size: 25px; 
    margin-bottom: 40px;   
}

.h2, h2 {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

/* --- end Text --- */
/* --- main --- */
body {
    background-color: #F8F8F8;
}

.whitebox {
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #DDD;
    background-color: #FFF;
    box-shadow: 0px 2px 2px #666;
    border-radius: 3px;
    text-align: right;    
}

a .btn {
    margin-top: 30px;
}
/* --- end main ---*/
/* --- axis --- */
.axis path, .axis line {
    fill: none;
    stroke: #CCC;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axis text{
  fill: #999;
  font-family: sans-serif;
  font-size: 11px;
}
/* --- end axis --- */
/* --- viz --- */
div#viz {
    margin: 0 auto;
    text-align: center;
}

#viz-tooltip {
    position: absolute;
    width: 100px;
    height: auto;
    padding: 10px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

#viz-tooltip.hidden {
    display: none;
}

#viz-tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    text-align: left;
}

.labelArea {
    fill: #0192b5;
    text-anchor: left;
    font-size: 12px;
    font-family: sans-serif;
    text-transform: uppercase; 
}

/* --- end viz --- */
/* --- multibar --- */
#multibar .tick text {
    text-transform: uppercase;    
}
/*--- end multibar --- */
/* --- heatmap --- */
div#heatmap {
    margin: 0 auto;
    text-align: center;
}

div#heatmap .axis path, div#heatmap .axis line {
    stroke-width: 0;
}

#heatmap-tooltip {
    position: absolute;
    width: 80px;
    height: auto;
    padding: 10px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

#heatmap-tooltip.hidden {
    display: none;
}

#heatmap-tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    text-align: left;
}
/* --- end heatmap --- */